* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

div.gameboard {
  width: 40%;
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  gap: 4px;
  margin: 0;
}

div.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  gap: 4px;

}

div.ship, div.moving {
  background-color: rgb(49, 48, 48);
}

div.missed {
  background-color: aqua;
}

div.hit {
  background-color: red;
}

div.show {
  background-color: aqua;
  width: 100%;

}

div.hide {
  background-color: gray;
}

div#list {
  max-height: 8rem;
  width: 75%;
  transition: all 0.5s ease-in;
  overflow: hidden;
}

div#list:hover {
  max-height: 15rem;
  overflow: scroll;
}

ul#events li {
    list-style-type: none;
}

div#followerDiv {
  display: grid;
  gap: 4px;
  z-index: 10;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: red;
}

div.moving {
  width: calc(4vw - 4px);
  height: calc(3vh - 4px);
}